*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.section1{
	border: 1px solid black;
	height: 1700px;
	background-color: whitesmoke;
}
#div{
	height: 500px;
	weidth:900px;
	background-image:url('https://img.freepik.com/free-photo/young-handsome-physician-medical-robe-with-stethoscope_1303-17818.jpg?w=826&t=st=1691209643~exp=1691210243~hmac=4399b78b9065d831f1dbd98efd56e7fc14cabea7865a9f68ea823913dd0b9505');
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.4s;
}
#div:hover{
	transform:scale(0.9);
	z-index: 1;

}

.a1{
	height: 250px;
	width: 300px;
	background-color: white;
	position: absolute;
	top: 450px;
	left: 300px;
	background-color: gainsboro;
	transition: 0.4s;
}
.a1:hover{
	transform:scale(1.2);
	z-index: 1.5s;

}
i{
	padding-top: 50px;
	padding-left: 150px;
}
.b{
	height: 250px;
	width: 300px;
	background-color: gray;
	float: left;
	position: absolute;
	top: 450px;
	left: 600px;
	transition: 0.4s;

}
.b:hover{
	transform:scale(1.3);
	z-index: 1.5s;

}
.c{
	height: 250px;
	width: 300px;
	background-color: dimgray;
	float: left;
	position: absolute;
	top: 450px;
	left: 900px;
	transition: 0.4s;
}
.c:hover{
	transform:scale(1.4);
	z-index: 1.5s;

}
P{
	font-size: 50px;
	padding-top: 100px;
	padding-left: 60px;
}
.p{
	font-size: 20px;
	display: justify;
	margin-top: -100px;
}
.ab{
	color: white;
	position: absolute;
	top: 80px;
	left: 70px;
}
.p1{
	font-size: 20px;
	color: white;
	padding-top: 30px;
	padding-left: 10px;
	text-align: center;
}
.P2{
	text-align: center;
	padding-right:100px;
	padding-top: 250px;
	font-size: 25px;
}
.p3{
	text-align: center;
	color: black;
	font-size: 10px;
	padding-right: 60px;
	margin-top: -90px;
}
button{
	background-color:royalblue;
	color: white;
	border-color: royalblue;
	box-shadow: 2px 2px 2px 2px black;
	border-radius: 3px;
	margin-top: 30px;
	margin-left: 60px;
}
h3{
 margin-left: 230px;
 margin-bottom:100px;
}
.p2{
	font-size: 15px;
	margin-top:-190px;
	margin-left: 170px;
}
.p4{
	font-size: 15px;
	margin-top:-190px;
	margin-left:170px ;
}
.abs{
	height: 500px;
	width: 450px;
	background-image: url('https://img.freepik.com/free-photo/capsules-with-stethoscope-grey-background_23-2147827633.jpg?size=626&ext=jpg&uid=R111882467&ga=GA1.2.1713814618.1691209608&semt=ais');
	background-size: cover;
	margin-left: 1000px;
	margin-top: -400px;
	transition: 0.4s;
}

.abs:hover{
	transform:scale(0.8);
	z-index: 1s;

}

.abcd{
	height: 300px;
	width: 100%;
	background-color: dimgray;
	margin-top: 100px;
}
.h31{
 	color:white;
 	padding-top: 50px;
 	padding-left: 440px;
 	font-style: oblique;
/* 	 animation: shadows 2s infinite*/
}
.abe{
	font-size: 15px;
	margin-top: -190px;
	text-align: center;
}
.section2{
	height:1265px;
	border:1px solid gray;
}
.abcde{
	height: 500px;
	width: 500px;
	background-image: url('https://img.freepik.com/free-photo/female-doctor-holding-plush-heart-stethoscope_23-2148396660.jpg?size=626&ext=jpg&uid=R111882467&ga=GA1.2.1713814618.1691209608&semt=ais');
	background-repeat: no-repeat;
	margin-top: 50px;
	margin-left: 100px;
	transition: 0.4s;
}
.abcde:hover{
	transform:scale(0.9);
	z-index: 0.5s;
}
.a2{
	font-size: 30px;
	margin-left:650px;
	margin-top: -450px;
}
.a3{
	font-size: 20px;
	margin-left: 600px;
	margin-top: -170px;
}
.a4{
	height: 50%;
	width: 100%;
	background-color: gray;
	margin-top: 200px;
}
.a5{
	color: black;
	font-size: 30px;
	padding-top: 100px;
	padding-left: 450px;
}
.a6{
	font-size: 15px;
	text-align: center;
	margin-top: -180px;
}
.a7{
	height: 300px;
	width: 300px;
	margin-top: 80px;
	background-color: white;
	margin-left: 100px;
	transition: 0.5s;
}

.a8{
	height: 300px;
	width: 300px;
	background-color: white;
	margin-left: 520px;
	margin-top: -320px;
}
.a9{
	height: 300px;
	width: 300px;
	background-color: white;
	margin-left: 950px;
	margin-top: -300px;
}
.a10{
	height: 170px;
	width: 100%;
	background-image: url('https://img.freepik.com/free-photo/huge-enjoyment-easter-time_329181-2469.jpg?size=626&ext=jpg&uid=R111882467&ga=GA1.2.1713814618.1691209608&semt=ais');
	background-size: cover;
    transition: 0.5s;
}
.a10:hover{
	transform:scale(1.3);
	z-index: 0.5s;

}
.a11{
	margin-left: 20px;
	margin-top: 20px;
}
.a12{
	font-size: 15px;
	margin-top: -100px;
	margin-left: -40px;
}
.a13{
	color: blue;
	font-size: 10px;
	margin-bottom:100px;
    margin-top: 100px;
	margin-left: 50px;
}
.a14{
	height: 170px;
	width: 100%;
	background-image: url('https://img.freepik.com/free-photo/young-female-patient-visiting-dentist-office_496169-930.jpg?size=626&ext=jpg&ga=GA1.2.1713814618.1691209608&semt=ais');
	background-size: cover;
    transition: 0.5s;
}
.a14:hover{
	transform:scale(1.3);
	z-index: 0.5s;

}
.a15{
	font-size: 15px;
	text-align: center;
	margin-left: -130px;
	margin-top: 20px;
}
.a16{
	font-size: 15px;
	margin-top: -190px;
	margin-left: -30px;
}
.a17{
	height:170px;
	width: 100%;
	background-image: url('https://img.freepik.com/free-photo/pregnant-woman-touching-her-belly_1163-1011.jpg?size=626&ext=jpg&uid=R111882467&ga=GA1.2.1713814618.1691209608&semt=ais');
	background-size: cover;
	transition: 0.5s;
}
.a17:hover{
	transform:scale(1.3);
	z-index: 0.5s;

}
.a18{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 15px;
}
.a19{
	font-size: 15px;
	margin-top: -190px;
	margin-left: -40px;
}
.selection3{
	height: 1000px;
	border: 1px solid black;
}
.a20{
	height:1000px ;
	width: 100%;
	background-color: gray;
	background-image: url('https://img.freepik.com/free-vector/business-world-map-infographic_52683-26903.jpg?t=st=1691249106~exp=1691249706~hmac=bcab822b94df23795191a1cc7d63f363b2f481351658b93215e973cceb6ddf5d');
	background-repeat: no-repeat;
	background-size: cover;
}
.a21{
	padding-top: 20px;
	margin-left: 800px;
}
.selection4{
	height: 500px;
	border: 1px solid;
}
.a23{
	height:100%;
	width: 100%;
	background-color: dimgray;
}
.a24{
	color: white;
	padding-top: 50px;
	font-size: 30px;
	margin-left: 600px;
}
.a25{
	height: 300px;
	width: 300px;
	background-color: white;
	margin-left: 200px;
}
.a26{
	height: 300px;
	width: 300px;
	background-color: white;
	margin-left: 700px;
	margin-top: -310px;
	transition: 0.5s;
}
.a26:hover{
	transform:scale(1.3);
	z-index: 0.5s;

}
.a27{
	height: 300px;
	width: 300px;
	background-color: white;
	margin-left: 1100px;
	margin-top: -300px;
/*	transition: 0.5s;*/

}
.a28{
	height: 210px;
	width: 100%;
	background-image: url('https://img.freepik.com/free-photo/doctor-with-his-arms-crossed-white-background_1368-5790.jpg?size=626&ext=jpg&uid=R111882467&ga=GA1.2.1713814618.1691209608&semt=sph');
	background-size: cover;
	background-repeat: no-repeat;
	transition: 0.5s;
}
.a29{
	height: 82px;
	width: 100%;
	background-color: darkgray;
	margin-top: 200px;
}
.a28:hover{
	transform:scale(1.3);
	z-index: 0.5s;

}
.a30{
	margin-left: 30px;
}
.a31{
	font-size: 25px;
	margin-top: -190px;
	margin-left: -50px;
}
.a33{
	height: 200px;
	width: 100%;
	background-image: url('https://img.freepik.com/free-photo/doctor-work_144627-40494.jpg?size=626&ext=jpg&uid=R111882467&ga=GA1.2.1713814618.1691209608&semt=sph');
	background-size: cover;
	background-repeat: no-repeat;
}
.a34{
	font-size: 25px;
	margin-left: 10px;
	margin-top: -20px;
}
.a35{
	margin-top: -180px;
	font-size: 25px;
}
.a39{
	height: 200px;
	width: 100%;
	background-image: url('https://img.freepik.com/free-photo/doctor-making-heart-with-her-hands-white-background_1368-9454.jpg?size=626&ext=jpg');
	background-repeat: no-repeat;
	margin-left: 1160px;
	margin-top: -300px;
	background-size: 200px;
}
.selection5{
	height:500px;
	border: 1px solid black;
}
.a41{
	height: 500px;
	width: 100%;
	background-color: gray;
}
.a43{
	color: white;
	padding-top: 100px;
	margin-left: 600px;
}
.a45{
	font-size: 15px;
	margin-top: -180px;
	margin-left: -70px;
	text-align: center;
}
.a49{
	margin-left: 160px;
}
.h1{
	height: 100px;
	width: 300px;
	background-color: gray;
	margin-left: 1100px;
}
.h2{
	padding-left: 40px;
	font-size: 25px;
}
.h3{
	font-size: 25px;
	margin-top: -80px;
}
.h4{
	size: 10px;
}
.h5{
	height: 300px;
	width: 300px;
	background-color: gray;
	margin-left: 600px;
	margin-top: 20px;
}
.h6{
	color: white;
	font-size: 20px;
	margin-top: 10px;
}
